.frontpage .header {
  background: #020312;
  background: var(--header-bg);
  height: 50vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

ol li{
  list-style: none !important;
}

/* Create two equal columns that floats next to each other */
.node-teaser-column {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.node-teaser-row:after {
  content: "";
  display: table;
  clear: both;
}

.left {
  width: 25%;
}

.right {
  width: 75%;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .node-teaser-column {
    width: 100%;
  }
}

.node-view-mode-teaser {
  position: relative;
  background: #181a25;
  background: var(--content-bg);
  padding: 1em 1em 1em 1em;
  margin-bottom: 4em;
  border-bottom: 1px solid #282d38;
  border-bottom: 1px solid var(--border-color);
}
